.darkbg {
    background-color: #1b4170;
}

ul {
    list-style-type: none;
}
.pilly {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  .pilly2 {
    background-color: #1b4170;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    border-color:#ddd;
  }